.custom-color{
    color: blue;
}

.lead{
    color: red;
}

.container-home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.9)), url('/public/storage/images/assets/Wallpaper.jpg');
    background-size: cover;
}


