.titleText{
    font-weight: bolder;

}

.lead{
    color: red;
}

.container-home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.9)), url('/public/storage/images/assets/Wallpaper.jpg');
    background-size: cover;
}

.title-gradient{
    background: -webkit-linear-gradient(0deg, (#d28e6c) 69%, (#e2a833) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.text-gradient{
    background: -webkit-linear-gradient(0deg, #79b0b2, (#4f6a7f) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: bolder;
}

.background-shade{
    background-color: #b8aea8;
}

.subtitle-gradient{
    background: -webkit-text-fill-color(0deg, #79b0b2, (#4f6a7f) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: bolder;
    font-size: 32px;
}
